<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>상품 등록</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-write container mx-auto">

        <div class="px-2 pt-4">
            <h1 class="font-bold text-lg">상품 등록</h1>

            <script>
                let ProuctCreate__submitDone = false;

                function ProuctCreate__submit(form) {
                    if (ProuctCreate__submitDone) {
                        return;
                    }

                    form.subject.value = form.subject.value.trim();

                    if (form.subject.value.length == 0) {
                        warningModal("제목을 입력해주세요.");
                        form.subject.focus();

                        return;
                    }

                    form.price.value = form.price.value.trim();

                    if (form.price.value.length == 0) {
                        warningModal("가격을 입력해주세요.");
                        form.price.focus();

                        return;
                    }

                    form.submit();
                    ProuctCreate__submitDone = true;
                }
            </script>


            <form th:action method="POST" class="flex flex-col gap-3"
                  onsubmit="ProuctCreate__submit(this); return false;">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">음원</span>
                    </label>
                    <select class="select select-bordered" name="songId">
                        <option th:each="song : ${songs}" th:value="${song.id}" th:text="|${song.id}. ${song.subject}|"></option>
                    </select>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">제목</span>
                    </label>
                    <input autofocus type="text" name="subject" placeholder="제목" class="input input-bordered"
                           maxlength="50">
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">가격</span>
                    </label>
                    <input type="number" name="price" placeholder="가격" class="input input-bordered"
                           maxlength="50">
                </div>

                <div class="grid grid-cols-2 mt-2 gap-2">
                    <input class="btn btn-primary" type="submit" value="상품 등록">
                    <button type="button" onclick="history.back();" class="btn btn-secondary btn-outline">취소</button>
                </div>
            </form>
        </div>

        </div>
    </section>

</main>
</body>
</html>