<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>주문 상세내용</title>
</head>

<body>
<main layout:fragment="main">
    <script src="https://js.tosspayments.com/v1"></script>

    <script th:inline="javascript">
        const orderId = /*[[ ${order.id} ]]*/ null;
        const buyerName = /*[[ ${order.buyer.name} ]]*/ null;
        const orderName = /*[[ ${order.name} ]]*/ null;
        const orderPayPrice = /*[[ ${order.calculatePayPrice} ]]*/ null;
    </script>

    <form hidden name="payByRestCashOnlyForm" method="POST" th:action="@{|/order/${order.id}/payByRestCashOnly|}">

    </form>

    <section class="section section-write container mx-auto">

        <div class="px-2 pt-4">
            <h1 class="font-bold text-lg">주문 상세내용</h1>

            <div class="flex flex-col gap-3 mt-3">

                <div>
                    주문번호 : [[${order.id}]]
                </div>

                <div>
                    주문날짜 : [[${order.createDate}]]
                </div>

                <div>
                    주문자 : [[${order.buyer.name}]]
                </div>

                <div>
                    주문가격 : [[${order.calculatePayPrice}]]
                </div>

                <div>
                    <div th:each="orderItem : ${order.orderItems}">
                        <div>
                            음악 : [[${orderItem.product.subject}]] /
                            아티스트 : [[${orderItem.product.author.name}]] /
                            가격 : [[${orderItem.salePrice}]]
                        </div>
                    </div>
                </div>

                <div>
                    <div>
                        보유 예치금 : [[${actorRestCash}]]
                    </div>
                    <div th:with="maxUseRestCash = ${order.calculatePayPrice > actorRestCash ? actorRestCash : order.calculatePayPrice}">
                        <span>사용할 예치금 : </span>
                        <input type="number" id="PaymentForm__useRestCash"
                               th:placeholder="|0 ~ ${maxUseRestCash}|"
                               class="input input-bordered min-w-[300px]" min="0" th:max="${maxUseRestCash}"
                               onkeydown="PaymentForm__useRestCashFix();"
                               onkeyup="PaymentForm__useRestCashFix();"
                        >
                        <label class="inline-flex items-center ml-3">
                            <span>전액사용</span>
                            <input onchange="PaymentForm__useRestCashAllChanged();" id="PaymentForm__useRestCashAll"
                                   type="checkbox" class="ml-2 checkbox">
                        </label>
                    </div>
                    <button th:if="${order.payable}" onclick="payment();" class="btn btn-sm btn-primary">카드결제</button>
                    <span th:if="${order.isPaid}">결제완료</span>
                </div>
                <div>
                    <div>
                        <span>PG결제가격 : </span>
                        <span id="PaymentForm__pgPayPriceDisplay">

                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        const $PaymentForm__useRestCash = $("#PaymentForm__useRestCash");
        const $PaymentForm__useRestCashAll = $("#PaymentForm__useRestCashAll");
        const $PaymentForm__pgPayPriceDisplay = $("#PaymentForm__pgPayPriceDisplay");

        const tossPayments = TossPayments("test_ck_BE92LAa5PVbDMxDgLzB87YmpXyJj");

        function payment() {
            let useRestCash = parseInt($PaymentForm__useRestCash.val());

            if (orderPayPrice == useRestCash) {
                document.payByRestCashOnlyForm.submit();
                return;
            }

            const method = "카드"; // "카드" 혹은 "가상계좌"

            const paymentData = {
                amount: orderPayPrice - useRestCash,
                orderId: "order__" + orderId + "__" + (Math.random() + "").substring(2),
                orderName,
                customerName: buyerName,
                successUrl: window.location.origin + "/order/" + orderId + "/success",
                failUrl: window.location.origin + "/order/" + orderId + "/fail"
            };

            tossPayments.requestPayment(method, paymentData);
        }
    </script>

    <script>
        function PaymentForm__useRestCashFix() {
            let useRestCash = parseInt($PaymentForm__useRestCash.val());

            if (isNaN(useRestCash)) {
                useRestCash = 0;
            }

            const maxUseRestCash = parseInt($PaymentForm__useRestCash.attr('max'));

            if (useRestCash > maxUseRestCash) {
                useRestCash = maxUseRestCash;
                $PaymentForm__useRestCash.val(maxUseRestCash);
            }

            if ( useRestCash == maxUseRestCash ) {
                $PaymentForm__useRestCashAll.prop('checked', true);
            }
            else {
                $PaymentForm__useRestCashAll.prop('checked', false);
            }

            const pgPayPrice = orderPayPrice - useRestCash;

            $PaymentForm__pgPayPriceDisplay.text(pgPayPrice);
        }

        function PaymentForm__useRestCashAllChanged() {
            if ( $PaymentForm__useRestCashAll.prop('checked') ) {
                const maxUseRestCash = parseInt($PaymentForm__useRestCash.attr('max'));
                $PaymentForm__useRestCash.val(maxUseRestCash);
            }
            else {
                $PaymentForm__useRestCash.val(0);
            }

            PaymentForm__useRestCashFix();
        }

        PaymentForm__useRestCashFix();
    </script>

</main>
</body>
</html>