<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>주문 상세내용</title>
</head>

<body>
<main layout:fragment="main">
    <script src="https://js.tosspayments.com/v1"></script>

    <script th:inline="javascript">
        const orderId = /*[[ ${order.id} ]]*/ null;
        const buyerName = /*[[ ${order.buyer.name} ]]*/ null;
        const orderName = /*[[ ${order.name} ]]*/ null;
        const orderPayPrice = /*[[ ${order.calculatePayPrice} ]]*/ null;
    </script>

    <script>
        const tossPayments = TossPayments("test_ck_BE92LAa5PVbDMxDgLzB87YmpXyJj");

        function payment() {
            const method = "카드"; // "카드" 혹은 "가상계좌"

            const paymentData = {
                amount: orderPayPrice,
                orderId: "order__" + orderId,
                orderName,
                customerName: buyerName,
                successUrl: window.location.origin + "/success",
                failUrl: window.location.origin + "/fail",
            };

            tossPayments.requestPayment(method, paymentData);
        }
    </script>


    <section class="section section-write container mx-auto">

        <div class="px-2 pt-4">
            <h1 class="font-bold text-lg">주문 상세내용</h1>

            <div class="flex flex-col gap-3 mt-3">
                <div>
                    주문번호 : [[${order.id}]]
                </div>

                <div>
                    주문날짜 : [[${order.createDate}]]
                </div>

                <div>
                    주문자 : [[${order.buyer.name}]]
                </div>

                <div>
                    주문가격 : [[${order.calculatePayPrice}]]
                </div>

                <div>
                    <div th:each="orderItem : ${order.orderItems}">
                        <div>
                            음악 : [[${orderItem.product.subject}]] /
                            아티스트 : [[${orderItem.product.author.name}]] /
                            가격 : [[${orderItem.salePrice}]]
                        </div>
                    </div>
                </div>

                <div>
                    <button onclick="payment();" class="btn btn-sm btn-primary">카드결제</button>
                </div>
            </div>
        </div>
    </section>

</main>
</body>
</html>