<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE" th:text="|${@appConfig.siteName} 관리자|"></title>

    <!-- 제이쿼리 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!-- toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <!-- jdenticon -->
    <script src="https://cdn.jsdelivr.net/npm/jdenticon@3.2.0/dist/jdenticon.min.js" async
            integrity="sha384-yBhgDqxM50qJV5JPdayci8wCfooqvhFYbIKhv0hTtLvfeeyJMJCscRfFNKIxt43M"
            crossorigin="anonymous">
    </script>

    <!-- 폰트어썸 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <!-- 테일윈드 -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="min-h-screen flex flex-col pt-[35px]">

<!-- 데이지 UI -->
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css"/>

<!-- common.css -->
<link href="/resource/common/common.css" rel="stylesheet" type="text/css"/>

<header class="fixed z-40 top-0 left-0 w-full bg-white border-b-[1px] border-b-[color:#efefef] h-[35px]">
    <div class="container mx-auto h-full flex items-center px-2">
        <a href="/adm/home/main" class="logo flex font-bold mr-auto">
            <span class="text-[#1E9EFE]">M</span>
            <span class="ml-[2px] hidden sm:block">UT</span>
            <span class="ml-[2px]">ADMIN</span>
        </a>

        <div class="flex gap-4">
            <a href="/adm/home/main" class="inline-flex">
                <i class="fa-solid fa-gauge-high"></i>
                <span class="ml-[2px] hidden sm:block">
                    관리자 홈
                </span>
            </a>

            <a href="/" class="inline-flex">
                <i class="fa-solid fa-house"></i>
                <span class="ml-[2px] hidden sm:block">
                    홈
                </span>
            </a>
        </div>
    </div>
</header>

<div class="flex-grow flex flex-col">
    <main layout:fragment="main" class="flex-grow flex flex-col"></main>
</div>

<script src="/resource/common/common.js"></script>

<script th:inline="javascript">
    const params = /*[[ ${param} ]]*/ null;

    if (params.msg) {
        successModal(params.msg);
    }

    if (params.errorMsg) {
        errorModal(params.errorMsg);
    }
</script>

</body>
</html>